.cta {
    width: 100%;
    background: #005cc5;
    // padding: 4em 0;

    .cta-inline {
        // width: 80%;
        margin-left: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        overflow: visible;

        .text {
            width: 40%;
            h2 {
                font-size: $h2;
                width: 90%;
                line-height: 1.5;
            }

            p {
                font-size: $body1;
                width: 80%;
                line-height: 1.8
            }
            
            button {
                width: 11.5rem;
                height: 3.5rem;
                background: white;
                border-radius: 80px;
                color: #0328EE;
                font-size: $body2;
                border: none;
            }

        }

        .logo {
            img {
                width: 70%;
                height: auto;
                object-fit: contain;
                display: block;
            }
        }
    }
}

@media (max-width: 768px) {
    .cta{
        .cta-inline{
            .text{
                width: 40%;
                h2{
                    font-size: $h3;
                }
            }

            .logo{
                width: 60%;
                text-align: center;

                img{
                    width: 90%;

                }
            }
        }
    }
}

@media (max-width: 600px) {
    .cta {
        width: 100%;

        .cta-inline{
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            .text{
                width: 100%;
                text-align: center;
                padding-top: 3em;

                h2{
                    font-size: $h3;
                    width: 80%;
                    margin: 0 auto;
                }
                p{
                    margin: 0 auto;
                    padding: 1em 0;
                }

                button{
                    width: 100%;
                    height: 5em;
                    font-weight: 600;
                    font-size: $body1;
                }
            }
        }

        .logo{
            width: 100%;
            img{
                height: auto;
            }
        }
    }
}