.cta {
    width: 100%;
    background: #005cc5;
    // padding: 4em 0;

    .cta-inline {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        overflow: visible;

        .text {
            h2 {
                font-size: $h2;
                width: 90%;
                line-height: 1.5;
            }

            p {
                font-size: $body1;
                width: 80%;
                line-height: 1.8
            }
            
            button {
                width: 11.5rem;
                height: 3.5rem;
                background: white;
                border-radius: 80px;
                color: #0328EE;
                font-size: $body2;
                border: none;
            }

        }

        .logo {
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                display: block;
            }
        }
    }
}