.timeline {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 5em;

    .intro {
        width: 31.5%;

        h2 {
            font-size: $h2;
            margin-top: 1em;
        }

        p {
            font-size: $body1;
            line-height: 1.5;
        }
    }

    .timeline-content {
        width: 55%;

        ul {
            list-style: none;

            li {
                display: flex;
                flex-direction: row;
                gap: 1em;
                margin: 1em 0 1.5em 0;
                padding: 1em 0;
                border-bottom: 1px solid #7b7b7b;

                .marker {
                    width: 2em;
                    height: 1em;
                    background: white;
                    border-radius: 50%;
                }

                .body {
                    .years {
                        margin-top: 0;
                        font-weight: 600;
                    }
                    .label {
                        font-size: $body1;;
                        font-weight: 600;
                    }
                    .desc {
                        font-size: $body1;
                        line-height: 1.5
                    }
                }
            }
        }
    }
}