.invitation {
    width: 80%;
    margin: 0 auto;
    padding: 4em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content {
        width: 37%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        h2 {
            margin: 0;
            font-size: 2.1em;
            max-width: 100%;
        }

        p {
            font-size: 0.9em;
            color: #e0e7ff;
            width: 90%;
            line-height: 2;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 2em;

            li {
                display: flex;
                align-items: center;
                font-size: 0.9em;
            }
        }
    }

    .video {
        width: 50%;
        height: 50vh;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 25px;
        display: grid;
        place-items: center;

        .start_menu {
            svg {
                width: 3em;
                height: 3em;
                // opacity: 0.9;
                border-radius: 50%;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.25);
                transition: background 0.3s ease;
            }
        }
    }

}

@media (max-width: 1024px) {
    .invitation {
        .video {
            height: 43vh;
        }
    }
}

@media (max-width: 576px) {
    .invitation {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2em;

        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: left;

            p {
                max-width: 80%;
            }

            li {
                gap: 0.6em;
                font-size: 0.9em;
            }
        }

        .video {
            width: 100%;
            height: 50vh;
        }


    }
}