.investors {
    width: 80%;
    margin: 0 auto;
    padding: 1em 0 4em 0;

    .heading {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em;

        h1 {
            font-size: $h1;
            margin: 0;
        }

        p {
            font-size: $body1;
            width: 50%;
            text-align: center;
            line-height: 1.8;
        }
    }

    ul {
        display: flex;
        // justify-content: space-between;
        justify-content: space-around;
        flex-wrap: wrap;
        list-style: none;
        font-size: $h3;
        font-weight: 500;
        padding: 0;
    }
}

@media (max-width: $tablet) {
    .investors {
        .heading {
            width: 100%;

            p {
                width: 100%;
            }
        }

        .brands {
            li{
                padding: 0.5em 0;
            }
        }
    }
}