.blogpost {
    width: 80%;
    margin: 0 auto;

    .post-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            padding: 0.5em 1em;
            background: rgba(255, 255, 255, 0.1);
            margin: 0 0.5em;
            border-radius: 80px;
            color: white;
        }

        .current {
            background: $primary;
        }
    }

    .post-card {
        .post-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 2em 0;
        }
    }

    //Thanh chuyá»ƒn trang

}

@media (max-width: $tablet) {
    .blogpost {
        .post-card {
            .post-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                padding: 2em 0;

                .blog-card {
                    .card__content {
                        h3 {
                            width: 100%
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    .blogpost {

        .post-title {
            width: 100%;
            display: flex;
            flex-direction: column;

            .filter {
                display: flex;
                flex-direction: column;
                width: 100%;

                button {
                    font-size: $body1;
                    padding: 1em 0;
                    margin-bottom: 1.5em;
                    background: rgba(255, 255, 255, 0.1);
                }

                .current {
                    background: $primary;
                }
            }
        }

        .post-card {
            .post-grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;
                padding: 2em 0;

                .blog-card {
                    .card__content {
                        h3 {
                            width: 100%
                        }
                    }
                }
            }
        }
    }
}