.blogpost {
    width: 80%;
    margin: 0 auto;

    .post-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            padding: 0.5em 1em;
            background: rgba(255, 255, 255, 0.1);
            margin: 0 0.5em;
            border-radius: 80px;
            color: white;
        }

        .current {
            background: $primary;
        }
    }

    .post-card {
        .post-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 2em 0;

            // .blog-card {
            //     background-color: #010D50;
            //     border-radius: 25px;
            //     text-decoration: none;
            //     color: white;

            //     .blog-card__image {
            //         position: relative;

            //         img {
            //             width: 100%;
            //             object-fit: cover;
            //             border-radius: 25px 25px 0 0;
            //         }

            //         .blog-card__tag {
            //             position: absolute;
            //             bottom: -12px;
            //             left: 22%;
            //             transform: translateX(-50%);
            //             background: #0048ff;
            //             color: #fff;
            //             font-size: 0.8rem;
            //             padding: 0.4rem 1rem;
            //             border-radius: 50px;
            //             font-weight: 600;

            //             @media (max-width: 1024px) {
            //                 left: 25%;
            //             }

            //             @media (max-width: 768px) {
            //                 left: 30%;
            //             }

            //             @media (max-width: 576px) {
            //                 left: 17%;
            //             }
            //         }
            //     }

            //     .card__content {
            //         padding: 1em 7%;

            //         h3 {
            //             width: 60%;
            //             line-height: 1.5;
            //         }

            //         p {
            //             width: 90%;
            //             font-size: 0.9em;
            //             line-height: 1.8
            //         }

            //         .card__footer {
            //             display: flex;
            //             justify-content: flex-start;
            //             align-items: center;
            //             padding: 2em 0 1.5em 0;
            //             border-top: 1px solid #7b7b7b;

            //             .card-author_img {
            //                 padding-right: 1em;
            //             }

            //             p {
            //                 width: 100%;
            //                 margin: 0;
            //                 font-size: 0.8em;
            //             }

            //             .card__author-name {
            //                 font-weight: 600;
            //             }
            //         }
            //     }
            // }
        }
    }

    //Thanh chuyá»ƒn trang

}

@media (max-width: $tablet) {
    .blogpost {
        .post-card {
            .post-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                padding: 2em 0;

                .blog-card {
                    .card__content {
                        h3 {
                            width: 100%
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    .blogpost {

        .post-title {
            width: 100%;
            display: flex;
            flex-direction: column;

            .filter {
                display: flex;
                flex-direction: column;
                width: 100%;

                button {
                    font-size: $body1;
                    padding: 1em 0;
                    margin-bottom: 1.5em;
                    background: rgba(255, 255, 255, 0.1);
                }

                .current {
                    background: $primary;
                }
            }
        }

        .post-card {
            .post-grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;
                padding: 2em 0;

                .blog-card {
                    .card__content {
                        h3 {
                            width: 100%
                        }
                    }
                }
            }
        }
    }
}