.download-app {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;

    .download-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;

        h2 {
            padding: 0;
            font-size: $h2;
            margin: 0;
        }

        p {
            width: 38%;
            font-size: $body1;
            line-height: 2;
        }
    }

    .download-area {
        padding: 2em 1em;
        display: flex;
        justify-content: space-between;
        gap: 4em;


        .download-card {
            background-color: #010D50;
            width: 50%;
            display: flex;
            flex-direction: column;
            padding-top: 1em;
            border-radius: 25px;
            box-sizing: border-box;

            h2 {
                padding-left: 1.5em;
            }

            p {
                width: 80%;
                font-size: $body1;
                line-height: 2;
                word-wrap: break-word;
                padding-left: 2.5em;
                margin-top: 0
            }

            .btn {
                width: 35%;
                background-color: #0048ff;
                height: 4em;
                border-radius: 80px;
                border: none;
                margin: 0.5em 0 2.5em 2.5em;
                color: white;
            }

            img {
                width: 80%;
                margin: 0 auto
            }
        }
    }
}

@media (max-width: 768px) {
    .download-app {
        .download-header {
            h2 {
                font-size: $h3;
            }

            p {
                width: 58%;
            }
        }
    }
}

@media (max-width: 600px) {
    .download-app {
        .download-header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h2 {
                margin: 0
            }

            p {
                width: 77%;
                margin-bottom: 0;
            }
        }

        .download-area {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .download-card {
                width: 100%;

                .btn {
                    width: 55%;
                    height: 4.5em;
                }
            }
        }
    }
}