.token {
  width: 80%;
  margin: 0 auto;

  .heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;

    h1 {
      font-size: $h1;
      margin: 0;
    }

    p {
      font-size: $body1;
      width: 50%;
      text-align: center;
      line-height: 1.8;
    }
  }

  /* bảng */
  &__table {
    width: 100%;
    max-width: 1100px; // cho giống khung content
    margin: 0 auto;
    border-collapse: collapse;

    /* dòng header */
    thead {
      th {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.12em;
        text-align: left;
        padding: 16px 0;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
      }
    }

    /* các ô dữ liệu */
    tbody {
      td {
        padding: 24px 0;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.9);
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);
      }

      td:first-child {
        font-weight: 600;
      }

      td:last-child {
        a {
          font-size: 13px;
          color: #7b7b7b;
          text-decoration: underline;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    th,
    td {
      padding-right: 32px;
    }
  }
}
