.story {
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    margin: 3em 0;

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;

        .text {
            width: 71.5%;

            h2{
                font-size: $h2;
            }
            p{
                font-size: $body1;
                line-height: 1.5
            }
        }
    }
    img {
            width:38%;
            height: 38%
        }
}