.story {
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    margin: 3em 0;

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;

        .text {
            width: 71.5%;

            h2{
                font-size: $h2;
            }
            p{
                font-size: $body1;
                line-height: 1.5
            }
        }
    }
    img {
            width:38%;
            height: 38%
        }
}

@media (max-width: $mobile) {
    .story{
        display: flex;
        flex-direction: column;
        position: relative;
        .content{
            width: 100%;
            .text{
                width: 100%;
                p {
                    width: 77%
                }
            }
        }

        img {
            margin-top: 2em;
            width: 120%;
            height: 100%;
            position: relative;
            right: 1em;
        }
    }
}