.team {
    width: 80%;
    margin: 0 auto;
    padding: 5em 0;

    .team-title {
        display: flex;
        justify-content: space-between;

        h2 {
            font-size: $h2;
        }

        p {
            font-size: $body1;
            width: 40%;
            padding-right: 1em;
        }
    }

    .team-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 32px;

        .card-team {
            background: $secondary;
            border-radius: 32px;
            padding: 16px 16px 16px;
            display: flex;
            flex-direction: column;
            transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s;
            border: 2px solid transparent;

            .card-image {
                width: 100%;
                aspect-ratio: 327 / 400; // tỉ lệ giống figma
                border-radius: 24px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }
            p{
                font-size: $body1;
            }
            .name {
                padding-top: 1em;
                font-weight: 600;
            }
        }
    }
}
@media (max-width: 768px) {
    .team{
        .team-title{
            h2{
                font-size: $h3;
            }
            p{
                width: 55%
            }
        }
    }
}
@media (max-width: 600px) {
    .team {
        .team-title{
            display: flex;
            flex-direction: column;

            h2{
                margin:0;
            }

            p {
                width: 80%
            }
        }
        .team-grid{
            display: flex;
            flex-direction: column;
        }
    }
}
