.blog {
    width: 80%;
    margin: 0 auto;
    padding: 3em 0 1em 0;

    .blog-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;

        h2 {
            padding: 0;
            font-size: $h2;
        }

        p {
            width: 38%;
            font-size: $body1;
            line-height: 2;
        }
    }

    .blog-area {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 2em 1em;

        .blog-card {
            background-color: #010D50;
            border-radius: 25px;

            .blog-card__image {
                position: relative;

                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 25px 25px 0 0;
                }

                .blog-card__tag {
                    position: absolute;
                    bottom: -5%;
                    left: 25%;
                    transform: translateX(-50%);
                    background: #0048ff;
                    color: #fff;
                    font-size: 0.8rem;
                    padding: 0.4rem 1rem;
                    border-radius: 50px;
                    font-weight: 600;

                    @media (max-width: 1024px) {
                        left: 25%;
                    }

                    @media (max-width: 768px) {
                        left: 30%;
                    }

                    @media (max-width: 600px) {
                        left: 17%;
                    }
                }
            }

            .card__content {
                padding: 1em 7%;

                h3 {
                    width: 60%;
                    line-height: 1.5;
                }

                p {
                    width: 90%;
                    font-size: 0.9em;
                    line-height: 1.8
                }

                .card__footer {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 2em 0 1.5em 0;
                    border-top: 1px solid #7b7b7b;

                    .card-author_img {
                        padding-right: 1em;
                    }

                    p {
                        width: 100%;
                        margin: 0;
                        font-size: 0.8em;
                    }

                    .card__author-name {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .btn-view {
        display: block;
        margin: 1.5em auto 0 auto;
        background: #0048ff;
        color: #fff;
        border: none;
        padding: 1rem 2.5rem;
        border-radius: 50px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

@media (max-width: 768px) {
    .blog {
        .blog-header {
            h2 {
                font-size: $h3;
            }

            p {
                width: 58%
            }
        }

        .blog-area {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            padding: 2em 1em;

            .blog-card {
                .blog-card__image {
                    .blog-card__tag {
                        left: 25%
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .blog {
        padding-top: 0;

        .blog-header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h2 {
                margin: 0
            }

            p {
                width: 77%;
                margin-bottom: 0;
            }
        }

        .blog-area {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
        }
    }
}