body {
    font-family: 'Ariel', sans-serif;
    background: #010725;
    color: white;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding-top: 0;
  padding-bottom: 0
}


button {
    cursor: pointer;
    outline: none;
    border: none;
    transition:
        transform 0.1s ease,
        box-shadow 0.2s ease,
        background 0.2s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    }

    &:active {
        transform: scale(0.95);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4) inset;
    }
}


