.brands {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;


    p {
        display: inline-block;
        font-size: $body1;
    }

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        font-size: $h3;
        font-weight: 500;
        padding: 0;
    }
}

@media (max-width: 576px) {
    .brands {
        padding: 2.5em 0;

    p {
      font-size: 0.85rem;
      margin-bottom: 1em;
    }

    ul {
      gap: 0.5em;
      li {
        font-size: 1.5em;
        max-width: 90%;
        padding: 0.1em 1em;
      }
    }
    }
}