.brands {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;


  p {
    display: inline-block;
    font-size: $body1;
  }

  ul {
    display: flex;
    // justify-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    font-size: $h3;
    font-weight: 500;
    padding: 0;
  }
}

@media (max-width: $tablet) {
  .brands {
    padding: 2.5em 0;

    p {
      font-size: $body1;
      margin-bottom: 1em;
    }

    ul {
      li {
        padding: 0.5em 1em;
      }
    }
  }
}