.blog-card {
    background-color: $secondary;
    border-radius: 25px;
    text-decoration: none;
    color: white;

    .blog-card__image {
        position: relative;

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 25px 25px 0 0;
        }

        .blog-card__tag {
            position: absolute;
            bottom: -12px;
            left: 22%;
            transform: translateX(-50%);
            background: #0048ff;
            color: #fff;
            font-size: 0.8rem;
            padding: 0.4rem 1rem;
            border-radius: 50px;
            font-weight: 600;

            @media (max-width: 1024px) {
                left: 25%;
            }

            @media (max-width: 768px) {
                left: 30%;
            }

            @media (max-width: 576px) {
                left: 17%;
            }
        }
    }

    .card__content {
        padding: 1em 7%;

        h3 {
            width: 60%;
            line-height: 1.5;
        }

        p {
            width: 90%;
            font-size: 0.9em;
            line-height: 1.8
        }

        .card__footer {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 2em 0 1.5em 0;
            border-top: 1px solid #7b7b7b;

            .card-author_img {
                padding-right: 1em;
            }

            p {
                width: 100%;
                margin: 0;
                font-size: 0.8em;
            }

            .card__author-name {
                font-weight: 600;
            }
        }
    }
}