.drawer-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(3px);
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
    z-index: 9999;
}

.drawer-overlay.show {
    opacity: 1;
    pointer-events: all;
}

.drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    max-width: 320px;
    height: 100vh;
    background: #010725;
    padding: 40px 20px;
    transform: translateX(-100%);
    transition: .35s ease;
    text-align: center;

    .btn-download{
        width: 80%;
        border-radius: 80px;
        color: white;
        height: 4em;
        background: #0328EE;
        margin: 1em 0
    }
}

.drawer-overlay.show .drawer {
    transform: translateX(0);
}

.drawer__close {
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.drawer__menu {
    list-style: none;
    margin-top: 80px;
    padding: 0;

    li {
        font-size: 24px;
        margin: 20px 0;
        cursor: pointer;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

