.rewards {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding: 4em 0 7em 0;
    overflow-x: visible;



    .rewards__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5em;
        width: 80%;
        margin: 0 auto;

        .rewards__image {
            flex: 1;
            display: flex;
            justify-content: center;

            img {
                // max-width: 500px;
                height: auto;
                object-fit: contain;
            }
        }

        .rewards__content {
            flex: 1;
            text-align: left;

            h2 {
                font-size: $h2;
                font-weight: 700;
                margin-bottom: 0.5em;
                width: 80%;
            }

            p {
                font-size: $body1;
                line-height: 1.8;
                color: #cfcfcf;
                margin-bottom: 1.5em;
                max-width: 100%;
            }

            .rewards__list {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 0.8em;

                li {
                    display: flex;
                    align-items: center;
                    gap: 0.6em;
                    font-size: 0.9em;

                    .icon {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }

    .rewards__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        padding-left: 10%;


        .rewards__image {
            width: 65%;

            img {
                width: 95%;
                height: auto;
                object-fit: contain;
                float: right;
            }
        }

        .rewards__mobile {
            display: none;
        }


        .rewards__content {
            width: 35%;

            h2 {
                font-size: $h2;
                font-weight: 700;
                margin-bottom: 0.5em;
                max-width: 90%;
            }

            p {
                font-size: $body1;
                line-height: 1.8;
                color: #cfcfcf;
                margin-bottom: 1.5em;
                max-width: 100%;
            }

            .rewards__list {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 0.8em;

                li {
                    display: flex;
                    align-items: center;
                    gap: 0.6em;
                    font-size: 0.9em;

                    .icon {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .rewards {
        .rewards__top {
            gap: 5em;

            // width: 100%;
            .rewards__content {
                h2 {
                    font-size: 1.7em;
                    width: 91%;
                }

                p {
                    width: 86%
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .rewards {
        gap: 3em;
        padding-bottom: 10em;

        .rewards__top {
            gap: 2em;

            .rewards__image {
                img {
                    width: 100%
                }
            }

            .rewards__content {
                h2 {
                    font-size: $h3;
                    // width: 100%
                }
            }

        }

        .rewards__bottom {
            .rewards__content {
                h2 {
                    font-size: $h3;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .rewards {
        padding: 2em 0 5em 0;
        gap: 5em;

        .rewards__top {
            display: flex;
            flex-direction: column;
            gap: 3em !important;

            .rewards__image {
                img {
                    width: 100%
                }
            }

            .rewards__content {
                h2 {
                    font-size: $h3;
                    max-width: 80%
                }
            }
        }

        .rewards__bottom {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            padding: 0;
            // gap: 2em !important;
            // max-width: 100% !important;

            .rewards__image {
                display: none;
            }

            .rewards__mobile {
                display: block
            }

            .rewards__content {
                width: 100%;
                margin: 2em 0;

                h2 {
                    font-size: 1.5em;
                    text-align: left;
                    width: 80% // max-width: 80%
                }

                p {
                    max-width: 80%
                }
            }
        }
    }
}