.introduce {
    width: 80%;
    margin: 0 auto;
    padding: 3em 0;

    .heading {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 3em;

        h1 {
            font-size: $h1;
            margin: 0;
        }

        p {
            font-size: $body1;
            width: 50%;
            text-align: center;
            line-height: 1.8;
        }
    }

    .main-content {
        .reason-heading {
            display: flex;
            justify-content: space-between;

            h2 {
                font-size: $h2;

            }

            p {
                font-size: $body1;
                width: 40%;
                padding-right: 0.8em;
            }
        }

        .reason-grid {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 2rem 2.5rem;

            .reason-card {
                background: #020a3a; // xanh đậm như hình
                border-radius: 24px;
                padding: 1.9rem 2rem;
                display: flex;
                align-items: flex-start;
                gap: 1.25rem;

                .logo {
                    width: 6em;
                    height: 2.5em;
                    border-radius: 15px;
                    background: $primary;
                    display: grid;
                    place-items: center;

                    img {
                        width: 80%
                    }
                }

                span {
                    font-size: $h3;
                    font-weight: 600
                }

                p {
                    font-size: $body1;
                    width: 88%;
                    line-height: 1.8;
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (max-width: $tablet) {
    .introduce{
        .heading {
            h1 {
                font-size: $h2;
                width: 100%
            }

            p {
                width: 100%;
                text-align: left;
            }
        }
        .main-content {
            .reason-heading {

                h2{
                    font-size: $h3;
                }
                p {
                    width: 50%
                }
            }

            .reason-grid {

                .reason-card {
                    display: flex;
                    flex-direction: column;
                    padding: 1em;

                    .logo {
                        width: 3em;
                        height: 3em
                    }
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    .introduce {
        .heading {
            h1 {
                font-size: $h2;
                width: 100%
            }

            p {
                width: 100%;
                text-align: left;
            }
        }

        .main-content {
            .reason-heading {
                display: flex;
                flex-direction: column;

                p {
                    width: 80%
                }
            }

            .reason-grid {
                display: flex;
                flex-direction: column;

                .reason-card {
                    display: flex;
                    flex-direction: column;

                    .logo {
                        width: 3em;
                        height: 3em
                    }
                }
            }
        }
    }
}