.pricing {
    width: 80%;
    margin: 0 auto;

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em;

        h1 {
            font-size: $h1;
            margin: 0;
        }

        p {
            font-size: $body1;
            width: 50%;
            text-align: center;
            line-height: 1.8
        }
    }

    .options {
        display: flex;
        justify-content: space-between;

        .option {
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            align-items: center;

            .logo {
                width: 3em;
                height: 3em;
                background: $primary;
                border-radius: 10px;
                display: grid;
                place-items: center;

                img {
                    width: 85%
                }
            }

            p {
                font-size: $body1;
            }
        }
    }

    .pricing-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;
        margin-bottom: 8em;
        margin-top: 3em;

        .pricing-card {
            background: #010D50;
            border-radius: 24px;
            padding: 32px 28px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 18px 40px rgba(0, 0, 0, 0.4);

            h2 {
                font-size: $h2;
                ;
                margin: 0
            }

            p {
                line-height: 1.8
            }

            .features {
                margin: 0;
                width: 100%;
                padding-top: 0;
                font-size: $body1;
                padding-bottom: 1em;

                ul {
                    padding-left: 1em;

                    li {
                        padding-bottom: 1em;
                    }
                }
            }

            button {
                background-color: $primary;
                width: 100%;
                height: 4em;
                border-radius: 80px;
                border: none;
                color: white;
                font-size: $body1;
            }
        }
    }
}

@media (max-width: $tablet) {
    .pricing {
        .heading {
            h1 {
                width: 100%;
            }

            p {
                width: 100%;
                text-align: left;
            }
        }

        .options {
            display: flex;
            flex-direction: column;

            .option {
                margin: 0 0 1.5em 0
            }
        }

        .pricing-grid {
            display: flex;
            flex-direction: column;
        }
    }
}