@import "./global.scss";
@import "./variables.scss";

//component
@import "../components/footer/Footer.scss";
@import "../components/header/Header.scss";
@import "../components/drawer/MobileDrawer.scss";

//page Home
@import "../pages/home/components/banner/Banner.scss";
@import "../pages/home/components/brands/Brands.scss";
@import "../pages/home/components/features/Features.scss";
@import "../pages/home/components/rewards/Rewards.scss";
@import "../pages/home/components/cta/Cta.scss";
@import "../pages/home/components/slider/Slider.scss";
@import "../pages/home/components/invitation/Invitation.scss";
@import "../pages/home/components/blog/Blog.scss";
@import "../pages/home/components/download/Download.scss";

//page About
@import "../pages/about/components/introduce/Intrduce.scss";
@import "../pages/about/components/story/Story.scss";
@import "../pages/about/components/timeline/Timeline.scss";
@import "../pages/about/components/team/Team.scss";
@import "../pages/about/components/investors/Investors.scss";

//page Pricing
@import "../pages/pricing/Pricing.scss";

//page Token
@import "../pages/tokens/Tokens.scss";

//page Blog
@import "../pages/blog/Components/title/BlogTitle.scss";
@import "../pages/blog/Components/post/BlogPost.scss";

//page Contact
@import "../pages/contact/components/gettouch/GetTouch.scss";
@import "../pages/contact/components/faq/FAQ.scss"